
.button {
  border-radius: 20px !important;
}

.buttonText {
  font-weight: 600 !important;
}

.buttonActive {
  background-color: #e67e56 !important;
  color: #FFFFFF !important;
}

.buttonInactive {
  background-color: #FFFFFF !important;
}
