.root {
  height: '32px';
  overflow: 'hidden';
  position: 'relative';
  border-radius: '50px';
}

.colorPrimary {
  background: 'linear-gradient(315deg, rgba(218,80,87,1) 0%, rgba(230,126,86,1) 33.33%, rgba(250,200,86,1) 66.66%, rgb(143, 239, 155) 100%)';
}

.barColorPrimary {
  background: 'transparent';
  border-right: '5px solid #0F0F0F';
}
