.trialLength {
  color: #6D99B1;
}

.startTrialButton {
  color: #9072BA !important;
  border-color: #9072BA !important;
}

.startTrialButton:hover {
  background-color: rgba(144, 114, 186, 0.05) !important;
}

.startTrialButton:disabled {
  color: rgb(129, 144, 151) !important;
  border-color: rgb(129, 144, 151) !important;
}

.expansionPanelRoot {
  border: 1px solid #CCC;
  border-radius: 25px !important;
}

.expansionPanelRoot::before {
  visibility: hidden !important;
}

.chip {
  margin: 0.5rem;
}
