.navLink {
  text-decoration: none;
  /* color: #9072BA; */
  color: #6D9AB0;
  letter-spacing: 0.05em;
  cursor: pointer;
  padding-bottom: 1px;
}

.logout {
  color: #D8464D;
}

.navLinkActive {
  border-bottom: 1px solid #9072B9;
  font-weight: 700 !important;
  padding-bottom: 0;
  color: #9072B9;
}


.bottomNav {
  width: 100%;
  position: fixed;
  bottom: 0;
}
