.card {
  border-radius: 10px !important;
  height: 100%;
}

.desc {
  font-weight: 600 !important;
}

.description {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 21px;
  color: #000000;
}

.stat {
  font-weight: 700 !important;
  color: #6D99B1;
}

.positiveTicker {
  color: #6FCF8D;
}

.negativeTicker {
  color: #FF433E;
}
